@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; // <-- Conectamos con el Layout
}

<h3 class="mb-4">Panel de Control</h3>
<div class="alert alert-light border-start border-danger border-4 shadow-sm">
    Bienvenido al sistema de administración. Seleccione una opción del menú lateral.
</div>

<div class="row mt-4">
    <div class="col-md-3">
        <div class="card text-white bg-dark mb-3 shadow-sm">
            <div class="card-body">
                <h6 class="card-title opacity-75">Médicos Activos</h6>
                <p class="card-text fs-2 fw-bold">120</p>
            </div>
        </div>
    </div>
</div>